// Palette:
$high-contrast: #fff;
$arcade-orange: #f46036ff;
$nav-theme: #5b85aaff;
$main-theme: #414770ff;
$font-theme: #372248ff;
$low-contrast: #171123ff;

$font-Roboto-Mono: "Roboto Mono", Monospace;
$content-margin: 60px;
$item-padding: 20px;
$button-radius: 15px;
